<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; url='https://docs.google.com/document/d/1L4XLsMdDa6V9ax-KeaJdCem9anhAG8j5XoDJE15BDRw/edit?usp=sharing'" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BackDoor RP FiveM Server">
	<meta name="author" content="Pacdizzle">
	<title>BackDoor RP</title>
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
</body>
</html>
